    body {
        font-family: 'Courier New', Courier, monospace;
        text-align: center;
        background-color:bisque;
    }

    #rules h3 {
        color:brown;
    }

    #board {
        height: 540px;
        width: 630px;
        /* position: fixed; */
        top: 150px;



        background-color:black;
        border: 10px solid;

        margin: 0 auto;
        display: flex;
        flex-wrap: wrap;
    }

    .tile {
        height: 80px;
        width: 80px;
        margin: 5px;

        background-color:white;
        border-radius: 50%;  
        box-sizing: border-box;
    }

    .red-disc {
        background-color: red;

    }

    .yellow-disc {
        background-color: yellow;
    }